[Unit]
Description=Dropbox

[Service]
Type=forking
PIDFile=/home/%I/.dropbox/dropbox.pid
ExecStart=/usr/bin/dropbox
ExecStopPost=/bin/rm /home/%I/.dropbox/dropbox.pid
ExecReload=/bin/kill -HUP /home/%I/.dropbox/dropbox.pid
SuccessExitStatus=9 SIGKILL
Restart=on-failure

[Install]
WantedBy=default.target

